{% extends 'front/base_front.html.twig' %}

{% block title %}Carte - Anzio pizza{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('front_menu') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('common_tabs') }}
    {{ encore_entry_script_tags('front_menu') }}
{% endblock %}

{% block container %}
    <h1>La carta</h1>
    <div class="menucontent">
        <div class="tabs">
            <span class="tab active" data-target="tabContainerPizze">
                <img src="https://dummyimage.com/400x400/cccccc/000000.png&text=Pizza+(400x400)">
                <span class="tabLabel">Pizze</span>
            </span>
            <span class="tab" data-target="tabContainerPiatti">
                <img src="https://dummyimage.com/400x400/cccccc/000000.png&text=Plat+(400x400)">
                <span class="tabLabel">Piatti</span>
            </span>
            <span class="tab" data-target="tabContainerDolci">
                <img src="https://dummyimage.com/400x400/cccccc/000000.png&text=Dessert+(400x400)">
                <span class="tabLabel">Dolci</span>
            </span>
            <span class="tab" data-target="tabContainerBevande">
                <img src="https://dummyimage.com/400x400/cccccc/000000.png&text=Boisson+(400x400)">
                <span class="tabLabel">Bevande</span>
            </span>
        </div>
        <div class="tabContainers">
            <div class="tabContainer active" id="tabContainerPizze">
                {% for base in bases %}
                    <h3><span class="{{ base.icon }}"></span> Base {{ base.name }}</h3>
                    {% for pizza in pizzas %}
                        {% if pizza.base.id == base.id %}
                            {% include 'front/_pizza.html.twig' %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="tabContainer hidden" id="tabContainerPiatti">Les plats</div>
            <div class="tabContainer hidden" id="tabContainerDolci">Les desserts</div>
            <div class="tabContainer hidden" id="tabContainerBevande">Les boissons</div>
        </div>
    </div>
{% endblock %}