<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Anzio Pizza{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/logo/favicon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('reset') }}
            {{ encore_entry_link_tags('container') }}
            {{ encore_entry_link_tags('common_topbar') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('reset') }}
            {{ encore_entry_script_tags('container') }}
            {{ encore_entry_script_tags('common_topbar') }}
        {% endblock %}
    </body>
</html>
